#levels{
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10vmin;
}

#sun {
  width: 75vmin;
  height: 100vmin;
  position: fixed;
  right: 0;
  top: 0;
}

#mercury{
  width: 8vmin;
  height: 8vmin;
}

#venus{
  width: 14vmin;
  height: 14vmin;

}

#starfield {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #00000f;
}